<div class="sidebar">

  <button class="toggle-btn" (click)="toggleSidebar()">
  ☰
</button>

<div class="sidebar"
     [class.collapsed]="isCollapsed">

  <h2 *ngIf="!isCollapsed">Dairy360</h2>

  <ul>

    <li>
      <a routerLink="/dashboard">
        🏠 <span *ngIf="!isCollapsed">Dashboard</span>
      </a>
    </li>

    <li>
      <a routerLink="/products">
        📦 <span *ngIf="!isCollapsed">Products</span>
      </a>
    </li>

    <li>
      <a routerLink="/customers">
        👥 <span *ngIf="!isCollapsed">Customers</span>
      </a>
    </li>

  </ul>

</div>

  

</div>